.container {
}

.layoutContainer {
    font-family: Arial;
    width: 80vw;
    margin: 1em;
    padding: 3em;


}

h1 {
    padding-left: 0.2em;
    color: #a9a9a9;
}

table {
    width: 100%;
    padding-left: 5px;

}
thead {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #ffffff !important;
    color: #ED3141;
}



td {
    padding: 0.5em;
    width: 33%;
}

tbody tr {
    cursor: pointer;
}

tbody tr:nth-child(odd) {background-color: #EFEFEF;}

tbody tr:hover {
    background-color: #EBD2D2;
}

.modalContainer {
    box-shadow: 10px 10px 26px -16px rgba(0,0,0,0.75);
    background: rgba(255, 255, 255, 0.99);

    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    border-radius: 2px;
    border: 2px solid #EBB2B2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.modalContainer h1 {
    padding-left: 0em;
    font-size: 1.3em;
    margin: 0;
    color: #ED3141;
}

.modalContainer h2 {
    font-size: 1.1em;
    color: #aaaaaa;
    margin: 0px 0px 10px 0px;
}

.modalContainer table {
    min-height: 50px;
}

.modalContainer button {
    padding: 0.5em 0.5em;
    line-height: 15px;
    margin-top:10px;
}

.modalContainer tbody tr {
    cursor: auto;
}
.modalContainer tbody tr:nth-child(odd) {
    background-color: #EFEFEF;
}
.modalContainer tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.pageCount {
    font-size: 0.8em;
    width: 10%;
    text-align: center;
}

a {
    font-family: 'Arial';
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #C3C3C3;
}

header {
    height: 3em;
}
input {
    width: 100%;
    height: 30px;
    font-size: 0.9em;
    margin-bottom: 10px;
    padding-left: 5px;
    outline: none;
    border: 1px solid #dddddd;
    transition: border 0.5s;
}

input:focus {
    border: 1px solid #ED3141;
}

.nav_button {
    margin-right: 15px;
    background-color: #ED3141;
    padding: 0.5em 1em;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    color: #ffffff;


}
.nav_button:hover {
    margin-right: 15px;
    background-color: #AF1D3C;
    color: #fff;
}

button:first-child {
    margin-left: 0;
}
button {
    background-color: #ED3141;
    border: none;
    color: white;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    height: 30px;
    transition: background-color 0.5s;
}
button:hover {
    background-color: #AF1D3C;
}

button:disabled {
    background-color: #dddddd;
}

button:focus {outline:0;}

.pagination {
    display: flex;
    align-items: center;
    margin: 0.2em 0.9em;
}
